<div class="overlay" id="overlayUpdate">
    <div class="info-detail">
        <div class="remove" (click)="removeEmquimentUpdatePopup()">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <form [formGroup]="equimentUpdateForm" (ngSubmit)="updateEquipment()">
            <p class="title">Update Equipment</p>
            <div class="img-area">
                <img [src]="imageUrl || '../assets/images/upload.png'" alt="">
                <div class="btn-change-img">
                    <input type="file" (change)="onImageChange($event)">
                    <span>Choose image</span>
                </div>
            </div>
            <div class="vertical-scroll">
                <div class="info-equipment">
                    <div class="info"> 
                        <label>ID</label>
                        <input type="text" formControlName="id">
                    </div>
                    <div class="info">
                        <label>Name</label>
                        <div>
                            <input type="text" formControlName="name">
                            <span [ngClass]="{
                                'validating':nameControl?.valid && (nameControl?.dirty || nameControl?.touched),
                                'invalidating': nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)
                            }"></span>
                        </div>
                        <div *ngIf="nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)">
                            <div class="invalid" *ngIf="nameControl?.hasError('required')">Name is required.</div>
                        </div>
                    </div>
                    <div class="info description">
                        <label>Description</label>
                        <div>
                            <textarea formControlName="description"></textarea>
                            <span [ngClass]="{
                                'validating':descriptionControl?.valid && (descriptionControl?.dirty || descriptionControl?.touched),
                                'invalidating': descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)
                            }"></span>
                        </div>
                        <div *ngIf="descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)">
                            <div class="invalid" *ngIf="descriptionControl?.hasError('required')">Desciption is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option">
                <button [disabled]="equimentUpdateForm.invalid">Save change</button>
            </div>
        </form>
    </div>
</div>
