.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    visibility: visible;
}

.overlay .info-detail {
    position: relative;
    width: 700px;
    background-color: var(--dark-bg-color);
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0px 0px 5px 1.5px black;
}

.info-detail .remove {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove i {
    font-size: 22px;
    color: var(--dark-color);
}

.remove:hover i {
    color: transparent;
    background-image: var(--bg-raial-gradient-undertone);
    background-clip: text;
    -webkit-background-clip: text;
}

form {
    position: relative;
    width: 100%;
    height: 100%;
}

form p.title {
    font-size: 20px;
    font-weight: 500;
}

form .upload-area {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.upload-box{
    width: 302.5px;
    height: 170px;
    position: relative;
}
.upload-box .upload{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px dashed var(--dark-color-undertone);
    background-color: var(--dark-bg-color-undertone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    z-index: 1;
}

.upload-box:hover .upload {
    background-color: var(--dark-bg-color-undertone);
    border: 2px dashed #2b75e4;
    color: #2b75e4;
}
.upload i{
    font-size: 25px;
}
.upload p{
    font-size: 13px;
}
.upload-box .img-choosed{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 102%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.img-choosed img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #fefefe;
    box-shadow: 0px 0px 5px 1px black;
    object-fit: contain;
}

.upload-area button{
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    color: var(--dark-color);
    background-color: var(--dark-bg-color-undertone);
    border: 1px solid var(--dark-color);
    border-radius: 3px;
}
.upload-area button:hover{
    color: rgb(211, 76, 76);
    border: 1px solid rgb(211, 76, 76);
}
.upload-box .btn-choose-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.btn-choose-img input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.btn-change-img:hover span {
    color: #fff;
}

.btn-change-img span {
    padding: 5px 10px;
    font-size: 12px;
    color: transparent;
    background-image: var(--bg-raial-gradient-undertone);
    background-clip: text;
    -webkit-background-clip: text;
}

.info-equipment {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.info-equipment .info {
    width: 302.5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-equipment .description {
    width: 635px;
}

.info label {
    font-size: 17px;
    font-weight: 400;
}

.info div {
    position: relative;
    width: 100%;
}

.description div {
    position: relative;
    width: 100%;
}

.info input,
.description textarea,
.info div input,
.info select {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: var(--dark-bg-color-undertone);
    color: #eceaea;
    padding: 0px 15px;
    font-size: 16px;
}

.description textarea {
    position: relative;
    padding: 10px 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 90px;
    max-height: 90px;
}

.info div span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 100%;
    transform: translateY(-50%);
}

.description div span {
    height: 90px;
    position: absolute;
    top: calc(126.2px - 81px);
}

.info div span.invalidating {
    background-color: rgb(197, 59, 59);
}

.info div span.validating {
    background-color: rgb(36, 129, 72);
}

.invalid {
    font-size: 13px;
    color: rgb(197, 59, 59);
}

.info select option {
    background-color: #eceaea;
    border-radius: none;
    color: var(--dark-bg-color);
}

.info input:focus,
.info div input:focus,
.info select:focus {
    outline: none;
    border: 1px solid #fff;
}

.option {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.option button {
    height: 40px;
    padding: 0px 25px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    margin-right: 3px;
    background-image: var(--bg-raial-gradient);
    cursor: pointer;
}

.option button:hover {
    filter: brightness(1.3);
}

.option button:active {
    transform: scale(1.05);
}

.option button:disabled {
    cursor: no-drop;
    color: var(--dark-bg-color);
    transform: scale(1);
    filter: brightness(1) blur(0.7px);
}

.info.employeeBorrowed{
    position: relative;
}

.employeeBorrowed .select-box{
    position: absolute;
    top:-210px;
    left: 0;
    min-width: 302.5px;
    height: 230px;
    background-color: var(--dark-bg-color-undertone);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px black;
    z-index: 10;
    display: none;
    animation:appear 0.2s ease-out forwards;
}

@keyframes appear {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(0px);
    }
}

.employeeBorrowed .select-box.active{
    display: block;
}
.employeeBorrowed .select-box .search{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}
.employeeBorrowed .search input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--dark-color-undertone);
}

.employeeBorrowed .search i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.employeeBorrowed .list-option{
    width: 100%;
    margin: 2px 0px;
    height: calc(100% - 44px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.employeeBorrowed .list-option::-webkit-scrollbar{
    width: 15px;
    height: 5px;
} 
.employeeBorrowed .list-option::-webkit-scrollbar-thumb,
.employeeBorrowed .list-option::-webkit-scrollbar-track{
    background-color:var(--dark-color);
}
.employeeBorrowed .list-option::-webkit-scrollbar-track-piece{
    background-color: var(--dark-bg-color);
}
.employeeBorrowed .list-option ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.employeeBorrowed .list-option ul li{
    display: flex;
    padding: 7px 15px;
    gap: 10px;
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.employeeBorrowed .list-option ul li:hover{
    background-color: rgba(255, 255, 255, 0.149) ;
}

.employeeBorrowed .list-option ul li p{
    font-size: 16px;
    pointer-events: none;
    display: inline;
    white-space: nowrap;
}
.list-option ul li p.id-employee{
    width: 70px;
}





@media (max-width: 800px) {
    .overlay .info-detail {
        width: 400px;
    }
    .vertical-scroll {
        max-height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .vertical-scroll::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .vertical-scroll::-webkit-scrollbar-thumb,
    .vertical-scroll::-webkit-scrollbar-track {
        background-color: var(--dark-color);
        border-radius: 3px;
    }
    .vertical-scroll::-webkit-scrollbar-track-piece {
        background-color: rgb(15, 15, 15);
    }
    form {
        justify-content: center;
        align-items: center;
    }
    form .upload-area{
        margin-left: 3px;
        flex-direction: column;
        align-items: normal;
        gap: 20px;
    }

    .description textarea {
        position: relative;
        padding: 10px 15px;
        max-width: 302px;
        min-width: 302px;
    }

}