<div class="container">
    <div class="content">
        <div class="infor-detail">
            <div class="main-infor">
                <div class="img-area">
                    <img src="http://localhost:3000/resources/employees/{{employee.Image}}" alt="">
                </div>
                <div class="infor-main">
                    <p class="name">{{employee.Name}}</p>
                    <p class="id">ID: {{employee.ID}}</p>
                </div>
            </div>
            <div class="information">
                <span>Information</span>
                <div class="gender infor">
                    <label for="">Gender:</label>
                    <p>{{employee.Gender ? 'Male' : 'Female'}}</p>
                </div>
                <div class="date-of-birth infor">
                    <label for="">Date of Birth:</label>
                    <p>{{employee.DateOfBirth}}</p>
                </div>
            </div>
            <div class="contact">
                <span>Contact</span>
                <div class="email infor">
                    <label for="">Email Address:</label>
                    <p>{{employee.Email}}</p>
                </div>
                <div class="phone infor">
                    <label for="">Phone Number:</label>
                    <p>{{employee.PhoneNumber | phoneNumberPipe}}</p>
                </div>
                <div class="address infor">
                    <label for="">Address:</label>
                    <p>{{employee.Address}}</p>
                    
                </div>
            </div>
            <div class="options">
                <button (click)="openEmployeePopup()">Edit</button>
            </div>
        </div>
        <div class="list-equipment-borrowed">
            <div class="title">
                <span>List of borrowed equipment</span>
                <div class="vertical-scroll">
                    <div class="unborrowed" *ngIf="listEquipmentBorrowed.length === 0">
                        <div>
                            <i class="fa-brands fa-dropbox"></i>
                            <p>Unborrowed</p>
                        </div>
                    </div>
                    <table *ngIf="listEquipmentBorrowed.length !== 0">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date borrowed</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let equipment of listEquipmentBorrowed">
                                <td class="image"><img src="http://localhost:3000/resources/equipments/{{equipment.Image}}" alt=""></td>
                                <td>{{equipment.ID}}</td>
                                <td>{{equipment.Name}}</td>
                                <td>{{equipment.DateBorrowed}}</td>
                                <td class="option">
                                    <a routerLink="/manage/equipment/{{equipment.ID}}">Detail</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-update-employee [employee]="employee" (newEmployee)="getDataFormChild($event)"/>