<div class="overlay" id="profile" (click)="removeProfile()">
    <div class="profile" (click)="stopPropagation($event)">
        <div class="btn-remove" (click)="removeProfile()">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="images">
            <img src="../assets/images/bg-img.jpg" alt="">
            <div class="profile-image">
                <img class="pf-img" src="../assets/images/admin.png" alt="">
                <!-- <div>
                    <input type="file" accept="image/*">
                    <i class="fa-solid fa-camera"></i>
                </div> -->
            </div>
        </div>
        <div class="btn-edit">
            <div (click)="toggleEditProfile()">
                <i class="fa-solid fa-pencil"></i>
            </div>
        </div>
        <div class="info">
            <p class="name">{{nameUser}}</p>
            <p>{{emailUser}}</p>
        </div>
        <div class="logout-area" id="logout">
            <button (click)="handleLogout()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Sign out</span>
            </button>
        </div>
        <div class="edit-profile" id="editProfile">
            <form #profile="ngForm" (ngSubmit)="updateInfoProfile()" autocomplete="off">
                <h3>Edit</h3>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" [(ngModel)]="newName" #nameModel="ngModel"  required [ngClass]="{
                            'validating': nameModel.valid && (nameModel.dirty || nameModel.touched),
                            'invalidating': nameModel.invalid && (nameModel.dirty || nameModel.touched)
                        }">
                    <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" style="margin-top: 0;">
                        <div class="invalid" *ngIf="nameModel.hasError('required')">Name is required.</div>
                    </div>
                </div>
                <button type="submit" [disabled]="profile.invalid">Update</button>
            </form>
        </div>
    </div>
</div>