<div class="overlay" id="profile" (click)="removeProfile()">
    <div class="profile" (click)="stopPropagation($event)">
        <div class="btn-remove" (click)="removeProfile()" >
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="images">
            <img src="../assets/images/bg-img.jpg" alt="">
            <div class="profile-image">
                <img class="pf-img" src="../assets/images/employee.png" alt="">
                <div>
                    <input type="file" accept="image/*">
                    <i class="fa-solid fa-camera"></i>
                </div>
            </div>
        </div>
        <div class="btn-edit">
           <div (click)="toggleEditProfile()">
                <i class="fa-solid fa-pencil"></i>
           </div>
        </div>
        <div class="info">
            <p class="name">Antoni</p>
            <p>antoni4@gmail.com</p>
        </div>
        <div class="edit-profile" id="editProfile">
            <form #profile="ngForm" (ngSubmit)="updateInfoProfile()" autocomplete="off">
                <h3>Edit</h3>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" [(ngModel)]="name" #nameModel="ngModel" minlength="4"
                        required [ngClass]="{
                            'validating': nameModel.valid && (nameModel.dirty || nameModel.touched),
                            'invalidating': nameModel.invalid && (nameModel.dirty || nameModel.touched)
                        }">
                    <div *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" style="margin-top: 0;">
                        <div class="invalid" *ngIf="nameModel.hasError('required')">Name is required.</div>
                        <div class="invalid" *ngIf="nameModel.hasError('minlength')">Name must be at least 4 characters long.</div>
                    </div>
                </div>
                <button type="submit" [disabled]="profile.invalid">Update</button>
            </form>
        </div>
    </div>
</div>
