<div class="container">
    <div class="main-content">
        <div class="chart-area-main">
            <div class="say-hello">
                <p>Hello {{name | namePipe}}</p>
                <img src="../assets/images/wave.png" alt="">
            </div>
        </div>
        <div class="list-new-equipment-borrowed">
            <p style="margin-left: 10px; letter-spacing: 0.3px;">New equipment' borrowing list</p>
            <div class="vertical-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Borrower ID</th>
                            <th>Date Borrower</th>
                            <th>Status</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipment of listEquipmentActive">
                            <td>{{equipment.ID}}</td>
                            <td>{{equipment.Name}}</td>
                            <td>{{equipment.IDEmployee}}</td>
                            <td>{{equipment.DateBorrowed}}</td>
                            <td class="status"> <span >Borrowed</span></td>
                            <td><a routerLink="/manage/equipment/{{equipment.ID}}">Detail</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="secondary-content">
        <div class="chart-area">
            <div class="title-chart">
                <p>Equipment Activity</p>
            </div>
            <div class="circular-progress" style="--progress-value: {{displayedRatio}}">
                <span class="progress-value">{{displayedRatio }}%</span>
            </div>
            <div class="amount-equipment-active">
                <p>{{totalEquipmentActive}}</p>
            </div>
            <div class="description">
                <p>Have {{totalEquipmentActive}} of {{totalEquipment}} equipment active</p>
            </div>

        </div>
        <div class="list-new-employee-borrowed">
            <p style="margin-left: 10px; letter-spacing: 0.3px;">New employees' borrowing list</p>
            <div class="vertical-scroll">
                <ul>
                    <li>
                        <div class="info-employee">
                            <img src="../assets/images/employee.png">
                            <div class="info">
                                <p class="name">Antoni</p>
                                <p class="mail">antoini4@gmail.com</p>
                            </div>
                        </div>
                        <a routerLink="/manage/employee/id">
                            Detail
                        </a>
                    </li>
                    <li>
                        <div class="info-employee">
                            <img src="../assets/images/employee.png">
                            <div class="info">
                                <p class="name">Antoni</p>
                                <p class="mail">antoiniaa4@gmail.com</p>
                            </div>
                        </div>
                        <a href="">
                            Detail
                        </a>
                    </li>
                    <li>
                        <div class="info-employee">
                            <img src="../assets/images/employee.png">
                            <div class="info">
                                <p class="name">Antoni</p>
                                <p class="mail">antoini4@gmail.com</p>
                            </div>
                        </div>
                        <a href="">
                            Detail
                        </a>
                    </li>
                    <li>
                        <div class="info-employee">
                            <img src="../assets/images/employee.png">
                            <div class="info">
                                <p class="name">Antoni</p>
                                <p class="mail">antoini4@gmail.com</p>
                            </div>
                        </div>
                        <a href="">
                            Detail
                        </a>
                    </li>
                    <li>
                        <div class="info-employee">
                            <img src="../assets/images/employee.png">
                            <div class="info">
                                <p class="name">Antoni</p>
                                <p class="mail">antoini4@gmail.com</p>
                            </div>
                        </div>
                        <a href="">
                            Detail
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>