<div class="container">
    <nav class="navbar">
        <div class="logo">
            <div (click)="redirectToHome()"><p>EM</p></div>
        </div>
        <ul>
            <li>
                <a routerLink="dashboard" routerLinkActive="active" data-title="Dashboard" >
                    <i class='bx bxs-dashboard'></i>
                </a>
            </li>
            <li>
                <a routerLink="equipments" routerLinkActive="active" data-title="Equipment" >
                  <i class='bx bxs-briefcase-alt-2'></i>
                </a>
            </li>
            <li>
                <a routerLink="employees" routerLinkActive="active" data-title="Employee" >
                  <i class='bx bxs-user'></i>
                </a>
            </li>
        </ul>
        <div style="height: 100px;"></div>
    </nav>
    <div class="main">
        <div class="header">
            <div class="title">
              <h2>{{title}}</h2>
              <p>Track and control all your information</p>
            </div>
            <div class="handle">
              <div class="theme-mode">
                <i class='bx bxs-sun' *ngIf="darkmode" (click)="changeThemeMode()"></i>
                <i class='bx bxs-moon' *ngIf="darkmode === false" (click)="changeThemeMode()"></i>
              </div>
              <div class="info-user" (click)="openProfilePopup()">
                <img src="../assets/images/admin.png" >
                <div class="info">
                  <p class="name">{{name | namePipe}}</p>
                  <p>{{email | emailPipe}}</p>
                </div>
                <i class='bx bx-chevron-down'></i>
                
              </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<app-profiler [nameUser]="name" [emailUser]="email"/>
