@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 600px;
    max-width: 1528px;
    height: 100vh;
    max-height: 875px;
    background-color: var(--dark-bg-color);
    overflow: hidden;
    display: flex;
    border-radius: 5px;
}

:host-context(.light-mode) .container{
    background-color: var(--light-bg-color);
}

nav{
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 875px;

}
nav .logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host-context(.light-mode) .logo div{
    background-color: var(--light-bg-color-undertone);
}

.logo div{
    width: 71px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--dark-bg-color-undertone);
    border-radius: 50%;
}

nav .logo p{
    font-family: "Gochi Hand", cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: transparent; 
    background-image: var(--bg-raial-gradient-undertone);
    background-clip: text;
    -webkit-background-clip: text;

}

:host-context(.light-mode) nav ul{
    background-color: var(--light-bg-color-undertone);
}

nav ul {
    background-color: var(--dark-bg-color-undertone);
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 35px;
    margin: 20px 0px;
}
nav ul li{
    list-style: none;
}
ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border-radius: 50%;
    text-decoration: none;
}
ul li a.active{
    background-image: var(--bg-raial-gradient-undertone);
    box-shadow: 0px 0px 3px 3px #5771bf;
    border: 1px solid #fff;
}

:host :host-context(.light-mode) li a i{
    color: rgb(48, 48, 48);
}

li a i{
    font-size: 20px;
    color: var(--dark-color-undertone);
    pointer-events: none;
}
li a:not(.active):hover i{
    filter: drop-shadow(0px 0px 10px rgba(0, 223, 255, 1) )
}
.logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

:host-context(.light-mode) .main{
    color: var(--light-color);
}

.main{
    width: calc(100% - 120px);
    color: var(--dark-color-undertone);
    display: flex;
    flex-direction: column;
}
.main .header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .title{
    width: fit-content;
}
.title h2{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

:host-context(.light-mode) .title p{
    color: var(--light-color-undertone);
    font-weight: 400;
}

.title p{
    font-size: 13px;
    color: var(--dark-color);
    font-weight: 300;
    letter-spacing: 0.7px;
}

.header .handle{
    position: relative;
}

:host-context(.light-mode) .handle .info-user{
    background-color: var(--light-bg-color-undertone);
}

.handle .info-user{
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--dark-bg-color-undertone);
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 20px;
    margin-right: 25px;
}
:host-context(.light-mode) .handle .info-user:hover{
    background-color: #e4e4e4;
}
.handle .info-user:hover{
    background-color: #46434e;
}
.handle .info-user:active{
    transform: scale(1.02);
}
.info-user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

:host-context(.light-mode) .info-user .info p{
    color: var(--light-color-undertone);
}

.info-user .info p{
    font-size: 14px;
    color: var(--dark-color);
    height: 24px;
}

:host-context(.light-mode) .info-user .info p.name{
    color: var(--light-color);
}

.info-user .info p.name{
    font-size: 18px;
    letter-spacing: 0.3px;
    color: var(--dark-color-undertone)
}
.info-user i{
    font-size: 25px;
}

.theme-mode{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-mode i{
    cursor: pointer;
    font-size: 30px;
}
.theme-mode i.bxs-sun{
    color: rgb(215, 202, 59);
}

.theme-mode i.bxs-moon{
    color: rgb(31, 78, 207);
}





