<div class="container">
    <div class="content">
        <div class="header">
            <div class="search-box">
                <input type="text" name="" placeholder="Search at here...">
                <i class='bx bx-search'></i>
            </div>
            <div class="btn-add">
                <button (click)="openEquipmentAddPopup()"><i class="fa-solid fa-plus"></i>Add </button>
            </div>
        </div>
        <div class="vertical-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Borrower ID</th>
                        <th>Date Borrower</th>
                        <th class="options-box">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let equipment of listEquipment">
                        <td>{{equipment.ID}}</td>
                        <td>{{equipment.Name}}</td>
                        <td class="status"> <span [class]="equipment.Status ? 'instock': 'borrowed'">{{equipment.Status ? 'instock': 'borrowed'}}</span></td>
                        <td>{{equipment.IDEquipment ? equipment.IDEquipment: 'N/A'}}</td>
                        <td>{{equipment.DateBorrowed ? equipment.DateBorrowed: 'N/A'}}</td>
                        <td class="options-box">
                            <div class="options">
                                <a routerLink="/manage/equipment/id"><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen" (click)="openEquipmentUpdatePopup()"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-equipment-add (equipment)="getEquipmentFormChild($event)"/>
<app-equipment-update/>
