<div class="container">
    <div class="content">
        <div class="header">
            <div class="search-box">
                <input type="text" name="" placeholder="Search at here...">
                <i class='bx bx-search'></i>
            </div>
            <div class="btn-add">
                <button (click)="openEmployeeAddPopup()"><i class="fa-solid fa-plus"></i>Add </button>
            </div>
        </div>
        <div class="vertical-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Date of birth</th>
                        <th class="options-box">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of listEmployee, let i = index">
                        <td>{{employee.ID}}</td>
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Gender ? 'Male' : 'Female'}}</td>
                        <td>{{employee.PhoneNumber}}</td>
                        <td>{{employee.Email}}</td>
                        <td>{{employee.DateOfBirth}}</td>
                        <td class="options-box">
                            <div class="options">
                                <a routerLink="/manage/employee/{{employee.ID}}"><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen" (click)="openEmployeeUpdatePopup(employee); getIndex(i)"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-update-employee [employee]="employee"/>
<app-employee-add (employee)="getEmployeeFormChild($event)"/>
