<div class="container">
    <div class="content">
        <div class="header">
            <div class="search-box">
                <input type="text" name="" placeholder="Search at here...">
                <i class='bx bx-search'></i>
            </div>
            <div class="btn-add">
                <button (click)="openEmployeeAddPopup()"><i class="fa-solid fa-plus"></i>Add </button>
            </div>
        </div>
        <div class="vertical-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Date of birth</th>
                        <th class="options-box">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a routerLink="/manage/employee/id"><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen" (click)="openEmployeeUpdatePopup()"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr><tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr><tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>MT0123</td>
                        <td>Jusze</td>
                        <td> Male</td>
                        <td>01231232223</td>
                        <td>jusze@gmail.com</td>
                        <td>12/23/2024</td>
                        <td class="options-box">
                            <div class="options">
                                <a href=""><i class="fa-solid fa-circle-info"></i></a>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-update-employee/>
<app-employee-add/>
