<div class="container">
    <div class="content">
        <div class="infor-detail">
            <div class="infor-area">
                <div class="img-area">
                    <img src="http://localhost:3000/resources/equipments/{{equipment.Image}}" alt="">
                </div>
                <div class="infor">
                    <p class="name">Name: {{equipment.Name}}</p>
                    <p>ID: {{equipment.ID}}</p>
                    <p>Description: {{equipment.Description}}</p>
                    <p class="active">Status: <span [class]="equipment.Status ? 'borrowed': 'instock'">{{equipment.Status ? 'borrowed': 'instock'}}</span></p>
                    <div *ngIf="equipment.Status">
                        <p>Date Borrowed: {{equipment.DateBorrowed}}</p>
                    </div>
                    <div class="options">
                        <div class="instock" *ngIf="equipment.Status === false">
                            <button ><i class="fa-solid fa-user-plus"></i></button>
                        </div>
                        <div class="borrowed" *ngIf="equipment.Status === true">
                            <button ><i class="fa-solid fa-user-minus"></i></button>
                            <a routerLink="/manage/employee/id" *ngIf="equipment.Status"><i class="fa-solid fa-user-tag" ></i></a>
                        </div>
                        <div class="btn-update">
                            <button (click)="openEquipmentUpdatePopup()">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-equipment-update [equipment]="equipment" (newEquipment)="getNewData($event)"/>

