.container{
    width: 100%;
    min-width: 500px;
    height: calc(100vh - 120px);
    padding-right: 25px;
}

:host-context(.light-mode) .content{
    background-color: var(--light-bg-color-undertone);
}
.content{
    width: 100%;
    min-width: 580px;
    height: 100%;
    max-height: 770px;
    background-color: var(--dark-bg-color-undertone);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.infor-detail{
    padding: 20px;
    border-radius: 28px;
    margin: 0px 20px;
}
.infor-area{
    display: flex;
}
.infor-detail .img-area{
    width: 450px;
    height: 450px;
    background-color: #fefefe;
}
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.infor-detail .infor{
    position: relative;
    margin-left: 30px;
    width: 410px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    padding-right: 25px;
    border-radius: 12px;
}
.infor p span{
    margin-left: 10px;
    padding: 2px 15px;
    border-radius: 8px;
}
.infor p span[class="instock"]{
    background-image: radial-gradient(
        farthest-corner circle at 185% 0% in oklab,
        rgb(221, 221, 221) -82% -82%, #01971c 100%
    );
}
.infor p span[class="borrowed"]{
    background-image: radial-gradient(
        farthest-corner circle at 185% 0% in oklab,
        rgb(221, 221, 221) -82% -82%, #970101 100%
    );
}

.infor .options{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    padding-right: 25px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2px;
}
.options .borrowed {
    display: flex;
    gap: 20px
}
.options div button, .borrowed a{
    height: 40px;
    padding: 0px 25px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.options div button:hover{
    filter: brightness(130%);
}
.options div button:active{
    transform: scale(1.05);
}
.options .btn-update button{
    background-image: var(--bg-raial-gradient);
    color: var(--dark-bg-color);
}
.options .instock button, 
.options .borrowed button, .borrowed a{
    text-decoration: none;
    padding: 0px 30px;
    background-color: transparent;
    color: var(--dark-bg-color);
    border: 1px solid #3668ff; 
}
.options .instock button:hover,
.options .borrowed button:hover, .borrowed a:hover{
    border: none;
    background-image: var(--bg-raial-gradient);
    filter: brightness(130%);

}
.options .instock button:hover i,
.options .borrowed button:hover i, .borrowed a:hover i{
    color: var(--dark-bg-color);
}
.options div button i, .borrowed a i{
    font-size: 17px;
    color: transparent; 
    background-image: var(--bg-raial-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}


.instock .select-box{
    position: absolute;
    top:-240px;
    left: 0;
    min-width: 302.5px;
    height: 230px;
    background-color: var(--dark-bg-color-undertone);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1px black;
    z-index: 10;
    display: none;
    animation:appear 0.2s ease-out forwards;
}

@keyframes appear {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(0px);
    }
}

.instock .select-box.active{
    display: block;
}

.instock .select-box .search{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}
.instock .search input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    border: 1px solid var(--dark-color-undertone);
    padding: 0px 10px;
    border: 3px;
}

.instock .search i{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
}

.instock .list-option{
    width: 100%;
    margin: 2px 0px;
    height: calc(100% - 44px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.instock .list-option::-webkit-scrollbar{
    width: 15px;
    height: 5px;
} 
.instock .list-option::-webkit-scrollbar-thumb,
.instock.list-option::-webkit-scrollbar-track{
    background-color:var(--dark-color);
}
.instock .list-option::-webkit-scrollbar-track-piece{
    background-color: var(--dark-bg-color);
}
.instock .list-option ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.instock .list-option ul li{
    display: flex;
    padding: 7px 15px;
    gap: 10px;
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.instock .list-option ul li:hover{
    background-color: rgba(255, 255, 255, 0.149) ;
}

.instock .list-option ul li p{
    font-size: 16px;
    pointer-events: none;
    display: inline;
    white-space: nowrap;
}
.list-option ul li p.id-employee{
    width: 70px;
}

@import '/src/assets/custom-css/popup-confirm.css';

@media (max-width: 1100px) {
    .infor-detail{
        min-width: 500px;
        max-height: 450px;
        padding: 0px 10px;
        overflow-y: scroll;
        scrollbar-color: transparent;
        scroll-behavior: smooth;
    }
    .infor-detail::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    } 
    .infor-detail::-webkit-scrollbar-thumb,
    .infor-detail::-webkit-scrollbar-track{
        background-color:var(--dark-color);
    }
    .infor-detail::-webkit-scrollbar-track-piece{
        background-color: var(--dark-bg-color);
    }
    .infor-area{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .infor .options{
        position: relative;
        padding-right: 10px;
    }
}