:host-context(.light-mode) .overlay{
    background-color: rgba(182, 181, 181, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

:host-context(.light-mode) .overlay .info-detail{
    background-color: var(--light-bg-color-undertone);
    box-shadow: 0px 0px 5px 1.5px rgb(148, 148, 148);
}

.overlay .info-detail {
    position: relative;
    width: 700px;
    min-height: 600px;
    background-color: var(--dark-bg-color);
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 2px black;
}

.info-detail .remove {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

:host-context(.light-mode) .remove i{
    color: var(--light-color);
}

.remove i {
    font-size: 22px;
    color: var(--dark-color);
}

:host-context(.light-mode) .remove:hover i ,
.remove:hover i {
    color: transparent;
    background-image: var(--bg-raial-gradient-undertone);
    background-clip: text;
    -webkit-background-clip: text;
}

form {
    position: relative;
    width: 100%;
    height: 100%;
}

form p.title {
    font-size: 20px;
    font-weight: 500;
}

form .img-area {
    width: fit-content;
    position: relative;
    margin-top: 10px;
}
:host-context(.light-mode) .img-area img {
    border: 2px solid  rgb(196, 196, 196);
}
.img-area img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 2px solid var(--dark-color-undertone);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

:host-context(.light-mode) .btn-change-avatar{
    border: 1px solid var(--light-color-undertone);
    background-color: var(--light-bg-color-undertone);
}
.btn-change-avatar {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 0;
    bottom: 10px;
    border: 1px solid var(--dark-color-undertone);
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-change-avatar input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.btn-change-avatar i {
    font-size: 12px;
}

.img-area .btn-cancel-choose-img {
    position: absolute;
    bottom: 7px;
    right: -100px;
}

:host-context(.light-mode) .btn-cancel-choose-img button {
    background-image: var(--bg-raial-gradient);
    color: var(--dark-color-undertone)
}

.btn-cancel-choose-img button {
    padding: 2px 15px;
    font-size: 12px;
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    background-color: var(--dark-bg-color-undertone);
    cursor: pointer;
    color: var(--dark-color);
}
:host-context(.light-mode) .btn-cancel-choose-img button:hover {
    border: none;
    border: 1px solid rgb(207, 207, 207);

}
.btn-cancel-choose-img button:hover {
    color: rgb(211, 76, 76);
    border: 1px solid rgb(211, 76, 76);
}

.btn-cancel-choose-img button:active {
    transform: scale(1.05);
}

.info-employee {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.info-employee .info {
    width: 302.5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info label {
    font-size: 17px;
    font-weight: 400;
}

.info div {
    position: relative;
    width: 100%;
}
:host-context(.light-mode) .info input,
:host-context(.light-mode) .info div input,
:host-context(.light-mode) .info select {
    background-color: var(--light-bg-color);
    color: #252525;
    border: 1px solid rgb(196, 196, 196) !important;
}

:host-context(.light-mode) .info input:focus,
:host-context(.light-mode) .info div input:focus,
:host-context(.light-mode) .info select:focus{
    outline: none;
    border: 2px solid rgb(85, 147, 240) !important;
}


.info input,
.info div input,
.info select {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(87, 86, 86) !important;
    background-color: var(--dark-bg-color-undertone);
    color: #eceaea;
    padding: 0px 15px;
    font-size: 16px;
}

.info input:focus,
.info div input:focus,
.info select:focus{
    outline: none;
    border: 2px solid rgb(190, 190, 190) !important;
}

.invalid {
    font-size: 13px;
    color: rgb(197, 59, 59);
}

.info select option {
    background-color: #eceaea;
    border-radius: none;
    color: var(--dark-bg-color);
}

.info input:focus,
.info div input:focus,
.info select:focus {
    outline: none;
    border: 1px solid #fff;
}

.option {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.option button {
    height: 40px;
    padding: 0px 40px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    margin-right: 3px;
    background-image: var(--bg-raial-gradient);
    cursor: pointer;
}

.option button:hover {
    filter: brightness(1.2);
}

.option button:active {
    transform: scale(1.05);
}

.option button:disabled {
    cursor: no-drop;
    color: var(--dark-bg-color);
    transform: scale(1);
    filter: brightness(1) blur(0.3px);
}

@media (max-width: 800px) {
    .overlay .info-detail {
        width: 400px;
        height: 520px;
    }
    .vertical-scroll {
        margin-top: 10px;
        max-height: 350px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .vertical-scroll::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .vertical-scroll::-webkit-scrollbar-thumb,
    .vertical-scroll::-webkit-scrollbar-track {
        background-color: var(--dark-color);
        border-radius: 3px;
    }
    .vertical-scroll::-webkit-scrollbar-track-piece {
        background-color: rgb(15, 15, 15);
    }
    form {
        justify-content: center;
        align-items: center;
    }
    .info-employee {
        flex-direction: column;
    }
    .info-employee .info {
        width: 100%;
        padding: 0 10px;
    }
}