<div class="overlay" id="overlayAdd">
    <div class="info-detail">
        <div class="remove" (click)="removeEmployeeAddPopup()">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <form [formGroup]="employeeAddForm" (ngSubmit)="addNewEmployee()" spellcheck="false">
            <p class="title">Add New Employee</p>
            <div class="img-area">
                <img [src]="imageUrl || '../assets/images/avt-anonymous.png'" alt="">
                <div class="btn-change-avatar">
                    <input type="file" (change)="onImageChange($event)">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <div class="btn-cancel-choose-img" *ngIf="imageUrl">
                    <button (click)="removeImage()">Cancel</button>
                </div>
            </div>
            <div class="vertical-scroll">
                <div class="info-employee">
                    <div class="info">
                        <label>ID</label>
                        <div>
                            <input type="text" formControlName="id" (input)="formatID($event)">
                        </div>
                        <div *ngIf="idControl?.invalid && (idControl?.dirty || idControl?.touched)">
                            <div class="invalid" *ngIf="idControl?.hasError('required')">Id is required.</div>
                            <div class="invalid" *ngIf="idControl?.hasError('minlength')">ID must be at least 6 characters long.</div>
                            <div class="invalid" *ngIf="idControl?.hasError('idExists')">Exists id.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Gender</label>
                        <select formControlName="gender">
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        </select>
                    </div>
                    <div class="info">
                        <label>Name</label>
                        <div>
                            <input type="text" formControlName="name" (blur)="updateFullname()">
                            
                        </div>
                        <div *ngIf="nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)">
                            <div class="invalid" *ngIf="nameControl?.hasError('required')">Name is required.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Surname - Middle name</label>
                        <div>
                            <input type="text" formControlName="surname" (blur)="updateFullname()">
                            
                        </div>
                        <div *ngIf="surnameControl?.invalid && (surnameControl?.dirty || surnameControl?.touched)">
                            <div class="invalid" *ngIf="surnameControl?.hasError('required')">Surname is required.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Phone number</label>
                        <div>
                            <input type="text" formControlName="phoneNumber" (input)="formatPhoneNumber($event)">
                            
                        </div>
                        <div *ngIf="phoneNumberControl?.invalid && (phoneNumberControl?.dirty || phoneNumberControl?.touched)">
                            <div class="invalid" *ngIf="phoneNumberControl?.hasError('required')">Number phone is required.</div>
                            <div class="invalid" *ngIf="phoneNumberControl?.hasError('numeric')">Number phone must be a number.</div>
                            <div class="invalid" *ngIf="phoneNumberControl?.hasError('minlength')">Number phone must be at least 10 number long.</div>
                            <div class="invalid" *ngIf="phoneNumberControl?.hasError('maxlength')">Maximum phone number 10 numbers.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Email</label>
                        <div>
                            <input type="email" formControlName="email">
                            
                        </div>
                        <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)">
                            <div class="invalid" *ngIf="emailControl?.hasError('required')">Email is required.</div>
                            <div class="invalid" *ngIf="emailControl?.hasError('email')">Email invalid.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Address</label>
                        <div>
                            <input type="text" formControlName="address">

                        </div>
                        <div *ngIf="addressControl?.invalid && (addressControl?.dirty || addressControl?.touched)">
                            <div class="invalid" *ngIf="addressControl?.hasError('required')">Address is required.</div>
                        </div>
                    </div>
                    <div class="info">
                        <label>Date of Birth</label>
                        <input type="date" formControlName="dateOfBirth">
                    </div>
                </div>
            </div>
            <div class="option">
                <button [disabled]="employeeAddForm.invalid">Add </button>
            </div>
        </form>
    </div>
</div>
